<% provide(:title, 'Resources') %>
<h1>Resources and Links</h1>
<p>
  <a href="http://northwestdiscovery.s3-website-us-west-2.amazonaws.com/">Northwest Discovery</a> is a site with info about Vancouver and other places. 
</p>

<ul>
<li>Additional resources to follow</li>
</ul>